# Compiled object files, libraries, and executables
*.o
*.exe
__pycache__/
main
*.so
*.dll

# Build directories and databases
build/
*.json
Makefile
CMakeLists.txt

# IDEs and editors
.vscode/
*.dSYM/